@include tablet {
    .header {
        flex-direction: column;
    }

    .header__lista {
        flex-wrap: wrap;
    }

    .main__index {
        min-height: 75vh;
    }

    .main__empresa .flota {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .texto__camion, .texto__camioneta, .texto__deposito {
        width: 600px;
        padding: 1rem;
    }

    .mapa {
        width: 90%;
    }

    .parrafo__contacto {
        text-align: center;
        width: 80%;
    }

}


@include mobile {
    .header__lista {
        flex-direction: column;
        flex-wrap: wrap;
        line-height: 1.6;
    }

    .mapa {
        width: 95%;
    }

    .galeriaa {
        width: 100%;
    }

    .input__diseñoC {
        font-size: 18px;
    }

    .main__contacto .contenedor__contacto {
        width: 310px;
    }

    .parrafo__contacto {
        text-align: center;
    }

    .main__presupuesto {
        padding-top: 2.5rem;
    }

    .main__presupuesto .contenedor__presupuesto {
        width: 310px;
        height: 670px;
    }

    .contenedor__botones {
        padding-top: 1.5rem;
    }
}