.main__servicios {
    text-align: center;
    background-color: #002962;
    min-height: 67vh;
    
    .tabla__servicios {
        display: flex;
        justify-content: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
}
