@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 425px) {
        @content;
    }
}

$colores: (
    fondo1: #004e89,
    fondoMain: #002962,
    fondoRedes: #407ba7,
);