@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004e89;
  padding: 10px 10px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.header__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 23px;
}

.header__lista a {
  text-decoration: none;
  text-align: center;
  padding: 0.3rem;
  color: white;
  border-bottom: 2px solid #d62828;
  margin: 15px;
}

.header__lista a:hover {
  background-color: #d62828;
  border-radius: 20%;
}

.footer {
  font-size: 20px;
}

.footer .footer__textoRedes {
  padding-top: 15px;
  text-align: center;
  background-color: #004e89;
  margin-bottom: 0rem;
}

.footer__redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 11vh;
  background-color: #407ba7;
}

.footer__redes img {
  margin: 0px 30px;
}

.footer__redes img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.footer__texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 10vh;
  background-color: #004e89;
}

.main__index {
  background-color: #002962;
  min-height: 110vh;
}

.main__empresa {
  background-color: #002962;
  min-height: 148vh;
}

.main__empresa .parrafos {
  width: 80%;
  margin-left: 10%;
}

.main__empresa .parrafos2 {
  width: 80%;
  margin-left: 10%;
}

.main__empresa .flota {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main__empresa .f100 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.main__empresa .texto__camioneta {
  padding-top: 1rem;
  grid-column: -7/-6;
}

.main__empresa .camion {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main__empresa .texto__camion {
  grid-column: -5/-4;
}

.main__empresa .deposito {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main__empresa .texto__deposito {
  grid-column: -3/-2;
}

.main__servicios {
  text-align: center;
  background-color: #002962;
  min-height: 67vh;
}

.main__servicios .tabla__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main__contacto {
  background-color: #002962;
  min-height: 67vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 450px 100px;
      grid-template-rows: 450px 100px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__contacto .contenedor__contacto {
  background-color: white;
  width: 400px;
  height: 350px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__contacto .input__diseñoC {
  border: none;
  background-color: transparent;
  font-family: cursive;
  border-bottom: 2px solid blue;
  text-align: center;
}

.main__contacto .contacto {
  line-height: 4;
}

.main__contacto .parrafo__contacto {
  grid-column: -3/-2;
}

.main__contacto .contenedor__botones {
  padding-top: 1.5rem;
}

.main__contacto .input__diseño:focus {
  outline: none;
}

.main__presupuesto {
  background-color: #002962;
  min-height: 67vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.main__presupuesto .contenedor__presupuesto {
  background-color: white;
  width: 650px;
  height: 400px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

.main__presupuesto .presupuesto label {
  padding-left: 20px;
  line-height: 2.5;
}

.main__presupuesto .input__diseñoP {
  border: none;
  background-color: transparent;
  font-family: cursive;
  width: 200px;
  border-bottom: 2px solid blue;
  text-align: center;
}

.main__presupuesto .input__diseñoP:focus {
  outline: none;
}

.main__presupuesto .parrafo__presupuesto {
  padding-top: 1.5rem;
  grid-column: -3/-2;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fondo {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@keyframes fondo {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__lista {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__index {
    min-height: 75vh;
  }
  .main__empresa .flota {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .texto__camion, .texto__camioneta, .texto__deposito {
    width: 600px;
    padding: 1rem;
  }
  .mapa {
    width: 90%;
  }
  .parrafo__contacto {
    text-align: center;
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .header__lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 1.6;
  }
  .mapa {
    width: 95%;
  }
  .galeriaa {
    width: 100%;
  }
  .input__diseñoC {
    font-size: 18px;
  }
  .main__contacto .contenedor__contacto {
    width: 310px;
  }
  .parrafo__contacto {
    text-align: center;
  }
  .main__presupuesto {
    padding-top: 2.5rem;
  }
  .main__presupuesto .contenedor__presupuesto {
    width: 310px;
    height: 670px;
  }
  .contenedor__botones {
    padding-top: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */